@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

header {
  color: #FFE636;
  background: #006600;
  border: solid black 1px;
  font-size: 32pt;
  font-family: "Libre Baskerville";
}

p {
  font-size: 16pt;
}

article {
  text-align: center;
  font-size: 16pt;
}

.link {
  color: #FFE6E6;
}

#firstParagraph {
  font-size: 24pt;
  border: double 10px;
  text-align: center;
}

#secondParagraph {
  text-align: center;
}
