@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

header {

  color: #325050;
  background: #00FFFF;
  border: solid red 10px;
  text-align: right;
  font-size: 32px;
  font-family: "Helvetica"

}

a {

  color: #00FFFF ;
  font-size: 50px ;
  font-style: none;
}

#firstParagraph {

  font-family:futura;
  font-size:50px;
  border-left: solid black 10px;
  text-align: right;
}

#secondParagraph {
  color: #325050;
  background: #00FFFF;
  border: solid red 10px;
  text-align: center;
  font-size: 32px;
  font-family: "Helvetica"


}

.Z {
  text-align: right;
  font-size: 100px;

}


