@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

header { 
color: #0000FF;
background: #fff;
border: 1px;
font-size:300px;
font-family: "Libre"
}
.link{
	color:#FFE6E6;
}

p {font-size:16px;}

#firstparagraph {
	text-align: right;
	border-right:double 10px;
}
#secondparagraph{
	text-align: left;
	border-right:double 18px;
}