@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

header {
  color: #FFE6E6;
  background: #4C0000;
  font-size: 32pt;
  font-family: "Helvetica Neue"
}

.link {
  color: #4C0000;
}

p {
  font-size: 14pt;
  border: groove;
}

#firstParagraph {
  text-align: left;
}

#secondParagraph {
  text-align: left;
}
